{{ define "adm/category.html" }}
{{ template "top" .}}
<h1>Categories</h1>

<style>
:root {
	--separator-width: 4px;
}

#categories-container section {
	padding: 0 0 20px;
}

#categories-container .category-values {
	overflow-y: hidden;
	grid-auto-columns: calc(16.66667% - var(--separator-width)*5/6);
	grid-auto-flow: row;
	grid-template-columns: repeat(6,calc(16.66667% - var(--separator-width)*5/6));
	gap: var(--separator-width) var(--separator-width);
	display: grid;
	grid-auto-rows: 100px;
	overflow-x: scroll;
}

#categories-container a {
	border-radius: 8px;
	display: flex;
	overflow: hidden;
	position: relative;
}

#categories-container img {
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

#categories-container a:not(.category-new):after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to bottom, transparent 40%, black 100%);
}

#categories-container .category-value-header {
	background: none;
	bottom: var(--separator-width);
	display: flex;
	flex-direction: column;
	height: auto;
	left: var(--separator-width);
	max-width: 90%;
	position: absolute;
	width: auto;
	z-index: 2;
}

#categories-container h5 {
	color: white;
	margin: unset;
}

#categories-container p {
	color: gray;
	font-style: italic;
}

.category-action {
	font-size: 1rem;
	vertical-align: middle;
	cursor: pointer;
}

.color-edit {
	color: var(--bs-yellow);
}

.color-delete {
	color: var(--bs-red);
}
</style>

<hr />
<div style="display: flex; justify-content: space-between;">
	<h5>Action</h5>
	<div>
		<button class="btn btn-primary" onclick="window.ModalCategory.show();">Add category</button>
	</div>
</div>

<hr />

<div id="categories-container">
	{{ range $category := .Categories }}
	<section>
		<h4>{{ $category.Name }} <i class="fas fa-pen category-action color-edit"></i>&nbsp;<i class="fas fa-trash category-action color-delete" onclick="modal_category_delete_show('{{ $category.ID }}', '{{ $category.Name }}')"></i></h4>
		<div class="category-values mb-3">
			{{ range $sub := $category.Sub }}
			<a onclick="offcanvas_subcategory_edit_show('{{ $sub.ID }}', '{{ $sub.Name }}', {{ $sub.Thumbnail }});">
				<img src="{{ $sub.URLThumb }}" class="card-img-top" >
				<div class="category-value-header">
					<h5>{{ $sub.Name }}</h5>
				</div>
			</a>
			{{ end }}
			<a style="cursor: pointer;" class="category-new" onclick="modal_category_value_show('{{ $category.ID }}');">
    		<img src="/static/images/category-add.svg">
				<div class="category-value-header">
					<h5>New</h5>
				</div>
			</a>
		</div>
	</section>
	{{ end }}
</div>

<!-- modals -->
<div id="modal-category" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add new category</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<form id="modal-category-form" onsubmit="return false;">
					<div class="form-floating mb-3">
						<input type="text" class="form-control" name="Name" id="modal-category-name">
						<label for="floatingInput">Name of the new category</label>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="modal_category_send()">Save changes</button>
			</div>
		</div>
	</div>
</div>

<div id="modal-category-value" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add new category item</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<form id="modal-category-value-form" onsubmit="return false;">
					<div class="form-floating mb-3">
						<input type="text" class="form-control" name="Name" id="modal-category-value-name">
						<label for="floatingInput">Name of the new category item</label>
					</div>
					<input type="hidden" name="Parent" id="modal-category-value-parent">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="modal_category_value_send()">Save changes</button>
			</div>
		</div>
	</div>
</div>

<div id="modal-category-delete" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Delete category</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete the category <code id="modal-category-delete-value"></code> ?</p>
				<input type="hidden" id="modal-category-delete-id" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-danger" onclick="modal_category_delete_send()">Save changes</button>
			</div>
		</div>
	</div>
</div>
<!-- end of modals -->

<!-- start of offcancas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-subcategory-edit">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="staticBackdropLabel"></h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<h5>Edit sub-category</h5>
		<hr />
		<div class="row">
			<div class="col-12 mb-3" id="offcanvas-subcategory-edit-title">
				<div class="form-floating input-group">
					<input type="text" class="form-control" disabled id="offcanvas-subcategory-edit-title-input">
					<label for="name">Name</label>
					<button class="btn btn-outline-warning" type="button" id="offcanvas-subcategory-edit-title-button" onClick="offcanvas_subcategory_title_edit()">Edit</button>
				</div>
			</div>
			<h5 class="mt-3 mb-3">Thumbnail</h5>
			<div class="col-12 mb-3" id="offcanvas-subcategory-edit-thumbnail-div">
				<img id="offcanvas-subcategory-edit-thumbnail-img">
				<button class="btn btn-danger mt-3" style="width: 100%" id="offcanvas-subcategory-edit-thumbnail-delete">Delete thumbnail</button>
			</div>
			<div class="col-12 mb-3" id="offcanvas-subcategory-edit-thumbnail-new">
				<button class="btn btn-primary mt-3" style="width: 100%" onclick="offcanvas_subcategory_edit_new_from_upload_show();">Upload a thumbnail</button>
				<button class="btn btn-primary mt-3" style="width: 100%" onclick="offcanvas_subcategory_edit_new_from_url_show();">Use thumbnail from URL</button>
			</div>
			<div class="col-12 mb-3" id="offcanvas-subcategory-edit-thumbnail-new-from-url">
				<div class="form-floating input-group">
					<input type="text" class="form-control" id="offcanvas-subcategory-edit-thumbnail-new-from-url-input">
					<label for="name">URL</label>
					<button class="btn btn-outline-success" type="button" onclick="offcanvas_subcategory_edit_new_from_url_send()">Retrieve</button>
				</div>
			</div>
			<div class="col-12 mb-3" id="offcanvas-subcategory-edit-thumbnail-new-from-upload">
				<div class="input-group">
					<input type="file" class="form-control" id="offcanvas-subcategory-edit-thumbnail-new-from-upload-input">
					<button class="btn btn-outline-success" type="button" onclick="offcanvas_subcategory_edit_new_from_upload_send()">Retrieve</button>
				</div>
			</div>

		</div> <!-- end row -->
	</div>
</div>
<!-- end of offcanvas -->

<script>
{{ template "adm/category.js" . }}
</script>
{{ template "bottom" .}}
{{ end }}
