{{ define "adm/config-offline.html" }}
{{ template "top" .}}
<h1>Admin Area</h1>

<hr />

<div class="row">
  {{ template "shards/adm-tabs.html" "offline" }}

  <div class="col-md-12 mb-4">
    <h4 class="mb-4">Offline mode setting</h4>
    <p>By design, ZobTube already almost no calls to the outside world.</p>
    <p>Only calls are towards providers to retrieve information and pictures.</p>
    <p>If you want to completly disable any external call, you can enable the <i>Offline Mode</i>.</p>
    <p>It will disable provider calls and any future calls that could come with later development.</p>
  </div>

  <div class="col-md-12 mb-4">
    <h4 class="mb-4">Offline mode</h4>
    The Offline Mode is currently:
    {{ if .OfflineMode }}
    <span class="badge text-bg-success">Enabled</span>
    {{ else }}
    <span class="badge text-bg-warning">Disabled</span>
    {{ end }}
  </div>

  <div class="col-md-12 mb-4">
    {{ if .OfflineMode }}
    <a class="btn btn-xl btn-danger" href="/adm/config/offline/disable">Disable Offline Mode</a>
    {{ else }}
    <a class="btn btn-xl btn-danger" href="/adm/config/offline/enable">Enable Offline Mode</a>
    {{ end }}
  </div>
</div>

{{ template "bottom" .}}
{{ end }}
