{{ define "adm/home.html" }}
{{ template "top" .}}
<style>
h2 {
  margin-top: 40px;
}

.s16 {
  width: 30px;
  height: 16px;
}

.float-right {
  float: right;
}

.card-adm {
  display: flex;
  justify-content: space-between;
}

.card-adm-btn {
  display: inline;
  align-self: center;
}
</style>

<h1>Admin Area</h1>

<hr />

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <p>Zobtube <b>up and running</b>!</p>
        <p>Version: <b>{{ .Build.Version }}</b></p>
        <p>Commit: <b>{{ .Build.Commit }}</b></p>
        <p>Build at: <b>{{ .Build.BuildDate }}</b></p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <h2>Instance overview</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body card-adm">
            <span>
              <div class="d-flex align-items-center">
                <i class="fas fa-video s16"></i>
                <h3 class="gl-m-0 gl-ml-3">{{ .VideoCount }}</h3>
              </div>
              <div class="gl-mt-3 text-uppercase">Videos</div>
            </span>
            <div class="card-adm-btn">
              <a class="btn btn-primary" href="/adm/videos">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body card-adm">
            <span>
              <div class="d-flex align-items-center">
                <i class="far fa-user s16"></i>
                <h3 class="gl-m-0 gl-ml-3">{{ .ActorCount }}</h3>
              </div>
              <div class="gl-mt-3 text-uppercase">Actors</div>
            </span>
            <div class="card-adm-btn">
              <a class="btn btn-primary" href="/adm/actors">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body card-adm">
            <span>
              <div class="d-flex align-items-center">
                <i class="fas fa-podcast s16"></i>
                <h3 class="gl-m-0 gl-ml-3">{{ .ChannelCount }}</h3>
              </div>
              <div class="gl-mt-3 text-uppercase">Channels</div>
            </span>
            <div class="card-adm-btn">
              <a class="btn btn-primary" href="/adm/channels">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body card-adm">
            <span>
              <div class="d-flex align-items-center">
                <i class="fas fa-user-circle s16"></i>
                <h3 class="gl-m-0 gl-ml-3">{{ .UserCount }}</h3>
              </div>
              <div class="gl-mt-3 text-uppercase">Users</div>
            </span>
            <div class="card-adm-btn">
              <a class="btn btn-primary" href="/adm/users">View</a>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="col-md-12">
    <h2 style="display: inline-block;">
      Latest tasks
      <a href="/adm/tasks" style="margin-left: 0; font-size: 14px;">View all tasks →</a>
    </h2>
    {{ template "shards/adm-task-list.html" .Tasks }}
  </div>

</div>
{{ template "bottom" .}}
{{ end }}
