{{ define "adm/home.html" }}
{{ template "top" .}}
<style>
h4:not(.first-h4) {
  margin-top: 30px;
}

.s16 {
  width: 30px;
  height: 16px;
}

.float-right {
  float: right;
}

.card-adm {
  display: flex;
  justify-content: space-between;
}

.card-adm-btn {
  display: inline;
  align-self: center;
}

dt {
  float: left;
  clear: left;
  margin-right: 30px;
  width: 160px;
  text-align: right;
}

dd {
  margin-left: 0px;
}
</style>

<h1>Admin Area</h1>

<hr />

<div class="row">
  {{ template "shards/adm-tabs.html" "overview" }}

  <div class="col-md-12">
    <h4 class="first-h4">Overview</h4>
    <hr />
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body card-adm">
            <span>
              <div class="d-flex align-items-center">
                <i class="fas fa-video s16"></i>
                <h3 class="gl-m-0 gl-ml-3">{{ .VideoCount }}</h3>
              </div>
              <div class="gl-mt-3 text-uppercase">Videos</div>
            </span>
            <div class="card-adm-btn">
              <a class="btn btn-primary" href="/adm/videos">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body card-adm">
            <span>
              <div class="d-flex align-items-center">
                <i class="far fa-user s16"></i>
                <h3 class="gl-m-0 gl-ml-3">{{ .ActorCount }}</h3>
              </div>
              <div class="gl-mt-3 text-uppercase">Actors</div>
            </span>
            <div class="card-adm-btn">
              <a class="btn btn-primary" href="/adm/actors">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body card-adm">
            <span>
              <div class="d-flex align-items-center">
                <i class="fas fa-podcast s16"></i>
                <h3 class="gl-m-0 gl-ml-3">{{ .ChannelCount }}</h3>
              </div>
              <div class="gl-mt-3 text-uppercase">Channels</div>
            </span>
            <div class="card-adm-btn">
              <a class="btn btn-primary" href="/adm/channels">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body card-adm">
            <span>
              <div class="d-flex align-items-center">
                <i class="fas fa-user-circle s16"></i>
                <h3 class="gl-m-0 gl-ml-3">{{ .UserCount }}</h3>
              </div>
              <div class="gl-mt-3 text-uppercase">Users</div>
            </span>
            <div class="card-adm-btn">
              <a class="btn btn-primary" href="/adm/users">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body card-adm">
            <span>
              <div class="d-flex align-items-center">
                <i class="fas fa-certificate s16"></i>
                <h3 class="gl-m-0 gl-ml-3">{{ .CategoryCount }}</h3>
              </div>
              <div class="gl-mt-3 text-uppercase">Categories</div>
            </span>
            <div class="card-adm-btn">
              <a class="btn btn-primary" href="/adm/categories">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <h4>Health</h4>
    <hr />
    No issues found in your configuration.
  </div>

  <div class="col-md-12">
    <h4>About</h4>
    <hr />
    <dl>
      <dt>Version</dt>
      <dd>
        {{ .Build.Version }} (commit <code>
        {{ if eq .Build.Commit "none" }}
        {{ .Build.Commit }}
        {{ else }}
        {{ slice .Build.Commit 0 6 }}
        {{ end }}
        </code>)</dd>
      <dt>Built at</dt>
      <dd>{{ .Build.BuildDate }}</dd>
      <dt>Golang</dt>
      <dd>{{ .GolangVersion }}</dd>
      <dt>Database</dt>
      <dd>{{ .DBDriver }}</dd>
      <dt>Binary Path</dt>
      <dd>{{ .BinaryPath }}</dd>
      <dt>Working Path</dt>
      <dd>{{ .StartupDirectory }}</dd>
    </dl>
  </div>

  <div class="col-md-12">
    <h4>More Info</h4>
    <hr />
    <dl>
      <dt>Home Page</dt>
      <dd><a href="https://zobtube.com">zobtube.com</a></dd>
      <dt>Reddit</dt>
      <dd><a href="https://www.reddit.com/r/zobtube/">www.reddit.com/r/zobtube</a></dd>
      <dt>Source</dt>
      <dd><a href="https://github.com/zobtube/zobtube">github.com/zobtube/zobtube</a></dd>
      <dt>Feature Requests</dt>
      <dd><a href="https://github.com/zobtube/zobtube/issues">github.com/zobtube/zobtube/issues</a></dd>
    </dl>
  </div>

</div>
{{ template "bottom" .}}
{{ end }}
