{{ define "adm/task-list.html" }}
{{ template "top" .}}
<div class="row">
    <div class="col-md-12">
        {{ if .Tasks }}
        <div class="themeix-section-h">
          <span class="heading-icon"><i class="fas fa-list-ul"></i></span>
          <h3>Task list</h3>
          <hr />
        </div>
        {{ template "shards/adm-task-list.html" .Tasks }}
        {{ else }}
        <div class="alert alert-success">No tasks run so far</div>
        {{ end }}
    </div>
</div>
{{ template "bottom" .}}
{{ end }}
