{{ define "adm/task-view.html" }}
{{ template "top" .}}

<div class="themeix-section-h">
  <span class="heading-icon"><i class="far fa-check-square"></i></span>
  <h3>Administration - View task details</h3>
  <hr />
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Task view</h2>
        <table class="table">
            <tbody>
                <tr>
                    <td>Task ID</td>
                    <td><code>{{ .Task.ID }}</code></td>
                </tr>
                <tr><td>Status</td><td><span class="badge text-bg-{{
                    if eq .Task.Status "todo" }}secondary{{
                    end }}{{ if eq .Task.Status "in-progress" }}primary{{
                    end }}{{ if eq .Task.Status "done" }}success{{
                    end }}{{ if eq .Task.Status "error" }}danger{{
                    end }}">{{ .Task.Status }}</span>
                    {{ if eq .Task.Status "error" }}
                    <button class="btn btn-warning btn-sm" style="float: right" onclick="restartTask('{{ .Task.ID }}');"><i class="fas fa-sync-alt"></i> Restart task in error</button>
                    {{ end }}
                    </td></tr>
                <tr><td>Task type</td><td>{{ .Task.Name }}</td></tr>
                <tr><td>Step</td><td>{{ .Task.Step }}</td></tr>
                <tr><td>Created at</td><td>{{ .Task.CreatedAt }}</td></tr>
                <tr><td>Last update</td><td>{{ .Task.UpdatedAt }}</td></tr>
                <tr><td>Done at</td><td>{{ if .Task.DoneAt }}{{ .Task.DoneAt }}{{ else }}Not done yet{{ end }}</td></tr>
                <tr><td>Parameters</td><td><pre>{{ range $key, $value := .Task.Parameters }}
"{{ $key }}": {{ $value }}{{ end }}
                </pre></td></tr>
            </tbody>
        </table>
    </div>
</div>
<script>
{{ template "adm/task-view.js" . }}
</script>
{{ template "bottom" .}}
{{ end }}
