{{ define "actor/edit.html" }}
{{ template "top" .}}
<style>
#image_drop_area{
  width: 100%;
  height: 400px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
</style>

<script>
/* -- start globals set at boot -- */

// store actor id
const actor_id = '{{ .Actor.ID }}';
const url_actor_category_edit = '/api/actor/{{ .Actor.ID }}/category/00000000-0000-0000-0000-000000000000';
</script>

<h2>Edit actor information</h2>
<hr />
<br />

<div class="row">
  <div class="col-3">
    <img class="rounded" src="{{ .Actor.URLThumb }}" style="width: 100%;">
    <div id="profile-actions">
      <a class="btn btn-success" style="margin-top: 15px; width: 100%" href="{{ .Actor.URLView }}">View profile</a>
      <a class="btn btn-danger" style="margin-top: 15px; width: 100%" href="{{ .Actor.URLAdmDelete }}">Delete actor profile</a>
      <a class="btn btn-info" style="margin-top: 15px; width: 100%" onclick="showActorPictures()">View link pictures</a>
    </div>
  </div>
  <div class="col-9">
    <h3>Profile details</h3>
    <br/>
    <div id="profile-info">
      <div class="mb-3">
        <div class="form-floating input-group">
          <input type="text" class="form-control" id="actor-name" name="name" value="{{ .Actor.Name }}" disabled>
          <label for="name">Name</label>
          <button class="btn btn-outline-warning" type="button" id="actor-name-edit" onClick="actorNameEdit()">Edit</button>
        </div>
      </div>
      <div class="mb-3">
        <label for="actor-sex" class="form-label">Sex:</label>
        <select class="form-select" id="actor-sex" name="sex" disabled>
          <option value="m" {{ if eq .Actor.Sex "m" }}selected{{ end }}>Male</option>
          <option value="f" {{ if eq .Actor.Sex "f" }}selected{{ end }}>Female</option>
          <option value="tw" {{ if eq .Actor.Sex "tw" }}selected{{ end }}>Trans women</option>
        </select>
        <div id="actor-sex-help" class="form-text"></div>
      </div>

      <h4 style="margin-top: 40px;" class="mb-3">Aliases</h4>
      <div class="form-control chip-selector" id="actor_chip_selector" style="height: unset; display: flex;">
        <div class="chips" id="aliasChips">
          {{ range $alias := .Actor.Aliases }}
          <div class="chip" alias-id="{{ $alias.ID }}">
            {{ $alias.Name }}
            <button class="btn btn-danger" onclick="actorAliasRemove('{{ $alias.ID }}');"><i class="fa fa-trash-alt"></i></button>
          </div>
          {{ end }}
          <div class="chip" id="aliasChipsNew">Add an alias
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addActorAliasModal">
              <i class="fa fa-plus-circle"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <h4 class="mt-3">Categories</h4>
    <!-- form: categories -->
    <div class="col-12 mb-3">
      <div class="form-floating">
        <div class="form-control chip-selector" id="category_chip_selector" style="height: unset; display: flex;">
          <div class="chips">
            {{ range $category := .Categories }}
            {{ range $sub := $category.Sub }}
            <div class="chip actor-category-list" category-id="{{ $sub.ID }}" style="display:none">
              {{ if $sub.Thumbnail }}
              <img src="{{ $sub.URLThumb }}" width="100" height="50">
              {{ end }}
              {{ $sub.Name }}
              <button class="btn btn-danger" onclick="actorRemoveCategory('{{ $sub.ID }}');"><i class="fa fa-trash-alt"></i></button>
            </div>
            {{ end }}
            {{ end }}
            <div class="chip">Add a category
              <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addCategoryModal" onClick="return false;">
                <i class="fa fa-plus-circle"></i>
              </button>
            </div>
          </div>
        </div>
        <label for="categories">Actor categories, will be added on every video of the actor</label>
      </div>
    </div>

    <h4 style="margin-top: 40px;">Actor links</h4>
    <table class="table">
      <thead>
        <th>Provider</th>
        <th style="text-align: right"></th>
      </thead>
      <tbody>
        {{ range $provider := .Providers }}
        <tr id="provider-{{ $provider.ID }}">
          <td style="vertical-align: middle">
            {{ $provider.NiceName }}{{ if not $provider.Enabled }} <span class="badge text-bg-warning">Disabled</span>{{ end }}
          </td>
          <td style="text-align: right; vertical-align: middle">
            <button
              id="provider-action-{{ $provider.ID }}-search"
              class="btn btn-primary{{ if not $provider.Enabled }} disabled{{ end }}"
              onClick="actorLinkAutomaticSearch(
                '{{ $.Actor.Name }}',
                '{{ $provider.NiceName }}',
                '{{ $provider.ID}}',
                '/api/actor/{{ $.Actor.ID }}/provider/{{ $provider.ID }}'
              )">
              <i class="fas fa-search"></i> Automatic search
            </button>
            <button
              id="provider-action-{{ $provider.ID }}-add"
              class="btn btn-primary"
              onclick="addNewLinkModal(
                '{{ $.Actor.ID }}',
                '{{ $provider.ID }}',
              )"
              >
              <i class="fas fa-plus"></i> Manual add
            </button>
            <a class="btn btn-success" href="" id="provider-action-{{ $provider.ID }}-view" target="_blank" rel="noopener noreferrer">
              <i class="fas fa-globe"></i> View page
            </a>
            <button class="btn btn-danger" id="provider-action-{{ $provider.ID }}-delete">
              <i class="fas fa-trash"></i> Remove link
            </button>
            <div id="provider-text-{{ $provider.ID }}-first-time" style="display: none"><i>Automatic reseach will begin shortly...</i></div>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>

<div class="row" id="profile-picture-propositions-row" {{ if or (.Actor.Thumbnail) (eq (len .Actor.Links) 0) (.OfflineMode) }}style="display: none"{{ end }}>
  <div class="col-12">
    <h4 style="margin-top: 65px;">Actor pictures from external links</h4>
    <hr/>
    <div class="row" id="profile-picture-propositions">
      <div class="col-12">
        <div class="alert alert-warning" role="alert" id="profile-picture-suggestion-welcome">
          Picture suggestion loading...
        </div>
      </div>
      <div class="col-12">
        <div class="alert alert-info" role="alert" id="profile-picture-suggestion-click-info" style="display: none">
          <i>Click on one picture to set it as profile picture</i>
        </div>
      </div>
      <div class="col-3" id="profile-picture-template" style="display: none">
        <div class="card">
          <div class="card-body">
            <img class="rounded-start" style="width: 100%; cursor: pointer" data-bs-toggle="modal" data-bs-target="#profilePictureModal">
          </div>
          <div class="card-footer" style="text-align: center">Provider</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Start Profile Picture Modal -->
<div class="modal fade" id="profilePictureModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Profile picture preview</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="profilePictureModalBody">
        <h5 id="cropper-status"></h5>
        <div id="image_drop_area">
          <img id="image" src="" style="height: 100%; width: auto; display: none;"></img>
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn-toolbar justify-content-between mb-2" role="toolbar" style="width:100%">
          <div class="input-group">
            <a type="button" class="btn btn-primary profilePictureModalValidate" onclick="send_crop()">Set as new profile picture</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Profile Picture Modal -->

<!-- Start Manual Link Modal -->
<div class="modal fade" id="manualLinkModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a new link for {{ .Actor.Name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="newLinkInput">
          <label for="newLinkInput">URL to the profile</label>
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn-toolbar justify-content-between mb-2" role="toolbar" style="width:100%">
          <div class="input-group">
            <a type="button" class="btn btn-primary profilePictureModalValidate" onclick="setNewLink()">Set as new profile picture</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Profile Picture Modal -->

<!-- Preview Add Actor Alias Modal -->
<div class="modal fade" id="addActorAliasModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new alias</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="form-floating" style="margin-bottom: 20px;">
          <input type="text" class="form-control" id="addActorAliasInput"></input>
          <label for="addActorInput">Actor alias</label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="modalActorAliasButton" onclick="actorAliasAdd()">Create new alias</button>
      </div>
    </div>
  </div>
</div>
<!-- End Add Actor Alias Modal -->

<!-- Add category modal -->
<div class="modal fade" id="addCategoryModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form action="" method="">
      <div class="modal-header">
        <h5 class="modal-title">Add category in video</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div> <!-- category div -->
          {{ range $category := .Categories }}
          {{ if $category.Sub }}
          <h4 class="mt-3">{{ $category.Name }}</h4>
          <div class="chips">
            {{ range $sub := $category.Sub }}
            <div class="chip add-category-list" category-id="{{ $sub.ID }}">
            {{ if $sub.Thumbnail }}
            <img class="lazy" data-src="{{ $sub.URLThumb }}" width="100" height="50">
            {{ end }}
              {{ $sub.Name }}
              <button class="btn btn-success add-category-add" onclick="actorAddCategory('{{ $sub.ID }}');return false;"><i class="fa fa-plus-circle"></i></button>
              <button class="btn btn-danger add-category-remove" onclick="actorRemoveCategory('{{ $sub.ID }}');return false;" style="display: none;"><i class="fa fa-trash-alt"></i></button>
            </div>
            {{ end }}
          </div>
          {{ end }}
          {{ end }}
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- End of add category modal -->


<script>
{{ template "actor/edit.js" . }}
</script>
{{ template "bottom" .}}
{{ end }}
