{{ define "actor/view.html" }}
{{ template "top" .}}
<style>
.actor_name {
    font-family: Lobster;
    font-size: 3rem;
}
.bio_detail_label {
    color: #6b6b6b;
}
</style>
<!-- Actor banner -->
<div style="display: flex">
  <div style="width: 250px; margin-right: 25px">
    <img class="img-rounded" src="{{ .Actor.URLThumb }}" style="height: 250px; width: 250px">
  </div>
  <div id="bio" style="flex-grow:1; margin:0;">
    <h2 class="card-title actor_name">{{ .Actor.Name }}</h2>
    {{ if .Actor.Aliases }}
    <h4>aka {{ .Actor.AliasesAsNiceString }}</h4>
    {{ end }}
    {{ if .User.Admin }}
    <a href="/actor/{{ .Actor.ID }}/edit"><i>Edit profile</i></a>
    {{ end }}
    <div class="categories" style="padding-top: 25px;">
    {{ range $sub := .Actor.Categories }}
      <div class="category">{{ $sub.Name }}</div>
    {{ end }}
    </div>
  </div>

  <div style="display: flex;">
    <div style="width: 170px;">
      <div style="margin-top: 20px; float: right;">
        {{ range $link := .Actor.Links }}
        <a href="{{ $link.URL }}" target="_blank" rel="noopener noreferrer">
        <img class="img-rounded" src="/static/images/provider-{{ $link.Provider }}.png" style="height: 80px; width: 80px; margin-top: 5px">
        </a>
        {{ end }}
      </div>
    </div>
  </div>
</div>
<!-- End of Actor banner -->

<hr />
<br />

<div class="themeix-section-h">
  <span class="heading-icon"><i class="fa fa-play" aria-hidden="true"></i></span>
  <h3>Videos</h3>
</div>

<div class="row row-cols-1 row-cols-md-6 g-4">

  {{ range $video := .Actor.Videos }}
  {{ template "shards/thumb-preview-line.html" $video }}
  {{ end }}

</div>
{{ template "bottom" .}}
{{ end }}
