{{ define "category/list.html" }}
{{ template "top" .}}

<style>
:root {
	--separator-width: 4px;
}

#categories-container section {
	padding: 0 0 20px;
}

#categories-container .category-values {
	max-height: 200px;
	overflow-y: hidden;
	grid-auto-columns: calc(16.66667% - var(--separator-width)*5/6);
	grid-auto-flow: row;
	grid-template-columns: repeat(6,calc(16.66667% - var(--separator-width)*5/6));
	gap: var(--separator-width) var(--separator-width);
	display: grid;
	grid-auto-rows: 100px;
	overflow-x: scroll;
}

#categories-container a {
	border-radius: 8px;
	display: flex;
	overflow: hidden;
	position: relative;
}

#categories-container img {
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

#categories-container a:not(.category-new):after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to bottom, transparent 40%, black 100%);
}

#categories-container .category-value-header {
	background: none;
	bottom: var(--separator-width);
	display: flex;
	flex-direction: column;
	height: auto;
	left: var(--separator-width);
	max-width: 90%;
	position: absolute;
	width: auto;
	z-index: 2;
}

#categories-container h5 {
	color: white;
	margin: unset;
}

#categories-container p {
	color: gray;
	font-style: italic;
}
</style>

<h2>Categories {{ if .User.Admin }} <a href="/adm/categories"><i class="fas fa-plus-circle"></i></a>{{ end }}</h2>
<hr />

<div class="row">
	<div id="categories-container">
		{{ range $category := .Categories }}
		<section>
			<h4>{{ $category.Name }}</h4>
			<div class="category-values mb-3">
				{{ range $sub := $category.Sub }}
				<a href="/category/{{ $sub.ID }}">
					<img src="{{ $sub.URLThumb }}" class="card-img-top" >
					<div class="category-value-header">
						<h5>{{ $sub.Name }}</h5>
					</div>
				</a>
				{{ end }}
			</div>
		</section>
		{{ end }}
	</div>
</div>

{{ template "bottom" .}}
{{ end }}
