{{ define "shards/actor-selection/edit-modal.html" }}
<div class="modal fade" id="actorSelectionModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form action="" method="">
      <div class="modal-header">
        <h5 class="modal-title">Add actor in video</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="form-floating" style="margin-bottom: 20px;">
          <input type="text" class="form-control" id="actorSelectionModalInput" autocomplete="off"></input>
          <label for="actorSelectionModalInput">Actor name</label>
        </div>

        <div class="chips">
          {{ range $actor := .Actors }}
          <div class="chip add-actor-list" actor-id="{{ $actor.ID }}" style="display:none">
            <img class="lazy" data-src="{{ $actor.URLThumb }}" width="50" height="50">
            {{ $actor.Name }}
            <button class="btn btn-success add-actor-add" onclick="window.zt.actorSelection.actorSelect('{{ $actor.ID }}');return false;"><i class="fa fa-plus-circle"></i></button>
            <button class="btn btn-danger add-actor-remove" onclick="window.zt.actorSelection.actorDeselect('{{ $actor.ID }}');return false;" style="display: none;"><i class="fa fa-trash-alt"></i></button>
          </div>
          {{ end }}
          <div class="chip">Add a new actor
            <button class="btn btn-success" onclick="window.open('/actor/new', '_blank');return false;">
              <i class="fa fa-plus-circle"></i>
            </button>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>
{{ end }}
