{{ define "profile/view.html" }}
{{ template "top" .}}
<div class="row">
  <div class="col-md-12">
    <h1>Your account</h1>
  </div>
  <div class="col-md-12">
    <h3 style="padding-top:50px;">Most viewed videos</h3>
    <div class="row">
      {{ if not .VideoViews }}
        <div class="col-md-12">
          <div class="alert alert-warning" role="alert">
            No trending videos so far!
          </div>
        </div>
      {{ else }}
        {{ range $VideoView := .VideoViews }}
        {{ template "shards/video-mini-view-count-tile.html" $VideoView }}
        {{ end }}
      {{ end }}
    </div>
  </div>
  <!-- best actors -->
  <div class="col-md-12">
    <h3 style="padding-top:50px;">Most viewed actors</h3>
    <div class="row">
      {{ if not .ActorViews }}
        <div class="col-md-12">
          <div class="alert alert-warning" role="alert">
            No video viewed so far!
          </div>
        </div>
      {{ else }}
        {{ range $ActorView := .ActorViews }}
        <div class="col-md-2">
          <div class="">
            <div class="video-img">
              <a href="{{ $ActorView.Actor.URLView }}">
                <img class="lazy" data-src="{{ $ActorView.Actor.URLThumb }}" class="card-img-top lazy">
              </a>
            </div>
            <div class="video-content">
              <h4><a href="{{ $ActorView.Actor.URLView }}" class="video-title">{{ $ActorView.Actor.Name }}</a></h4>
              <div class="video-counter">
                <div class="video-viewers">
                  <span class="fa fa-eye view-icon"></span>
                  <span>{{ $ActorView.Count }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
  <!-- end of best actors -->
</div>
{{ template "bottom" .}}
{{ end }}
