{{ define "top-failsafe" }}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ZobTube</title>
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <link href="/static/css/font-poppins.css" rel="stylesheet">
    <!-- LOAD CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap-5.3.3.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/megamenu.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/cropper-1.5.13.min.css">
    <!-- LOAD CSS -->
</head>
<body>
    <!-- PRE LOADER -->
      <div class="preloader">
         <div class='uil-ring-css' style='transform:scale(0.45);'><div></div></div>
      </div>

    <!-- Start Header -->
    <header>
        <div class="header-top hidden-xs">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-top-area">
                            <div class="site-info left">
                                <div class="mail-address">
                                    <a href="/">ZobTube, Passion of the Zob, Lube for the Tube!</a>
                                </div>
                            </div>
                            <div class="user-info right">
                              <div>
                                <i class="fas fa-cogs"></i>
                                <a href="/">Failsafe mode</a>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navigation area starts -->
        <div class="main-menu">
            <!-- Start Navigation -->
            <nav class="header-section pin-style">
                <div class="container-fluid">
                       <div class="mod-menu">
                        <div class="row">
                            <div class="col-3">
                              <a href="/" title="logo" class="logo"><img src="/static/images/logo.png" alt="logo" height="55"></a>
                            </div>
                            <div class="col-9 nopadding">
                                <div class="main-nav rightnav">
                                    <ul class="top-nav">
                                        <li class="visible-this d-md-none menu-icon">
                                            <a href="#" class="navbar-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#menu" aria-expanded="false"><i class="fa fa-bars"></i></a>
                                        </li>
                                    </ul>
                                    <div id="menu" class="collapse header-menu">
                                        <ul class="nav themeix-nav">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </nav>
            <!-- end navigation -->
        </div>
        <!-- Navigation area ends -->
    </header>
    <!-- End Header -->

    <div class="container" style="padding-top:50px;">
{{ end }}

{{ define "bottom-failsafe" }}
</div>

    <!-- Load JS -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap-5.3.3.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>
{{ end }}
