{{ define "shards/category-selection/list.html" }}
<div class="form-floating">
  <div class="form-control chip-selector" id="category_chip_selector" style="height: unset; display: flex;">
    <div class="chips">
      {{ range $category := .Categories }}
      {{ range $sub := $category.Sub }}
      <div class="chip video-category-list" category-id="{{ $sub.ID }}" style="display:none">
        {{ if $sub.Thumbnail }}
        <img src="{{ $sub.URLThumb }}" width="100" height="50">
        {{ end }}
        {{ $sub.Name }}
        <button class="btn btn-danger" onclick="window.zt.categorySelection.categoryDeselect('{{ $sub.ID }}');"><i class="fa fa-trash-alt"></i></button>
      </div>
      {{ end }}
      {{ end }}
      <div class="chip">Add a category
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#categorySelectionModal" onClick="return false;">
          <i class="fa fa-plus-circle"></i>
        </button>
      </div>
    </div>
  </div>
  <label for="categories">Categories</label>
</div>
{{ end }}
