{{ define "shards/adm-tabs.html" }}
<div class="col-md-12">
  <div class="themeix-section-h">
    <span class="heading-icon"><i class="fa fa-hammer"></i></span>
    <h3>Administration</h3>
    <hr />
  </div>
</div>

<div class="col-md-12 mb-4">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link{{ if eq . "overview" }} active"{{ else }}" href="/adm"{{ end}}>Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{{ if eq . "authentication" }} active"{{ else }}" href="/adm/config/auth"{{ end}}>Authentication</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{{ if eq . "providers" }} active"{{ else }}" href="/adm/config/provider"{{ end}}>Providers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{{ if eq . "tasks" }} active"{{ else }}" href="/adm/task/home"{{ end}}>Tasks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{{ if eq . "offline" }} active"{{ else }}" href="/adm/config/offline"{{ end}}>Offline mode</a>
    </li>
  </ul>
</div>
{{ end }}
