{{ define "shards/thumb-preview-mini.html" }}
<div class="col-md-2">
  <div class="single-video">
    <div class="video-img">
      <a href="{{ .URLView }}">
        <img class="lazy" alt="Video" data-src="{{ .URLThumbXS }}" style="">
      </a>
      {{ if .Duration }}
      <span class="video-duration">{{.NiceDuration }}</span>
      {{ end }}
    </div>
    <div class="video-content">
      <h4><a href="{{ .URLView }}" class="video-title">{{ .Name }} </a></h4>
    </div>
  </div>
</div>
{{ end }}
