{{ define "shards/thumb-preview-line.html" }}
<div class="single-review">
  <div class="review-img">
    <a href="{{ .URLView }}">
      <img src="{{ .URLThumbXS }}" class="lazy">
    </a>
    {{ if .Duration }}
    <span class="video-duration">{{ .NiceDuration }}</span>
    {{ end }}
  </div>
  <div class="review-content">
    <h4><a href="{{ .URLView }}" class="video-title">{{ .Name }}</a></h4>
    {{ if .Actors }}
    <span class="video-posts-author"><i>Featuring: </i></span>
    {{ end }}
    {{ range $actor := .Actors }}
    <span class="video-posts-author">
      <a href="{{ $actor.URLView }}">{{ $actor.Name }}</a>
    </span>
    {{ end }}
  </div>
</div>
{{ end }}
