{{ define "shards/video-mini-tile.html" }}
  <div class="col-md-3">
    <div class="single-video">
      <div class="video-img">
        <a href="{{ .URLView }}">
          <img class="lazy" data-src="{{ .URLThumbXS }}">
        </a>
        {{ if .Duration }}
        <span class="video-duration">{{.NiceDuration }}</span>
        {{ end }}
      </div>
      <div class="video-mini-title">
        <h4><a href="{{ .URLView }}" class="video-title">{{ .Name }} </a></h4>
      </div>
    </div>
  </div>
{{ end }}
