{{ define "home/home.html" }}
{{ template "top" .}}

<div class="themeix-section-h">
  <span class="heading-icon"><i class="fa fa-bolt"></i></span>
  <h3>Latest Trending Videos</h3>
  <hr />
</div>
<div class="row">
  {{ if .Videos }}
  {{ range $video := .Videos }}
  {{ template "shards/video-mini-tile.html" $video }}
  {{ end }}
  {{ else }}
  <div class="col-md-12">
    <div class="alert alert-warning" role="alert">
      No new video available yet!
    </div>
  </div>
  {{ end }}
</div>

{{ template "bottom" .}}
{{ end }}
