{{ define "home/home.html" }}
{{ template "top" .}}

<style>
#categories {
  align-content: flex-start;
  display: flex;
  flex-basis: max-content;
  flex-flow: wrap;
  gap: 4px;
  overflow: hidden;
  position: relative;
}

#categories .category {
  padding: 0 10px;
  background-color: #dadada;
  border-radius: 6px;
  gap: 4px;
}
</style>
<div class="themeix-section-h">
  <span class="heading-icon"><i class="fa fa-bolt"></i></span>
  <h3>Latest Trending Videos</h3>
  <hr />
</div>
<div class="row">
  {{ if .Videos }}
  {{ range $video := .Videos }}
  {{ template "shards/video-mini-tile.html" $video }}
  {{ end }}
  {{ else }}
  <div class="col-md-12">
    <div class="alert alert-warning" role="alert">
      No {{ .Type }} available so far!
    </div>
  </div>
  {{ end }}
</div>


{{ template "bottom" .}}
{{ end }}
