{{ define "channel/edit.html" }}
{{ template "top" .}}
<!-- Actor banner -->
<div style="display: flex">
  <div style="width: 250px; margin-right: 25px">
    <img class="img-rounded" src="{{ .Channel.URLThumb }}" style="height: 250px; width: 250px">
  </div>
  <div id="bio" style="flex-grow:1; margin:0;">
    <h2 class="card-title actor_name">{{ .Channel.Name }}</h2>
    <hr />
    <form method="POST" enctype="multipart/form-data">
        <b>Select a new channel picture</b>
        <br />
        <input type="file" name="profile" />
        <input type="submit" name="Send new picture" />
    </form>
  </div>
</div>
<!-- End of Actor banner -->

{{ template "bottom" .}}
{{ end }}
