{{ define "channel/list.html" }}
{{ template "top" .}}
<h2>Channels {{ if .User.Admin }} <a href="/channel/new"><i class="fas fa-plus-circle"></i></a>{{ end }}</h2>
<br />

<div class="row">
  {{ range $channel := .Channels }}
  <div class="single-review">
    <div class="review-img">
      <a href="{{ $channel.URLView }}">
        <img src="{{ $channel.URLThumb }}" class="lazy">
      </a>
    </div>
    <div class="review-content">
      <h4><a href="{{ $channel.URLView }}" class="video-title">{{ $channel.Name }}</a></h4>
    </div>
  </div>
  {{ end }}

</div>
{{ template "bottom" . }}
{{ end }}
