{{ define "channel/view.html" }}
{{ template "top" .}}

<!-- Channel banner -->
<div style="display: flex">
  <div style="width: 250px; margin-right: 25px">
    <img class="img-rounded" src="{{ .Channel.URLThumb }}" style="height: 250px; width: 250px">
  </div>
  <div>
    <h2 class="card-title actor_name">{{ .Channel.Name }}</h2>
    {{ if .User.Admin }}
    <a href="/channel/{{ .Channel.ID }}/edit"><i>Edit channel</i></a>
    {{ end }}
  </div>
</div>
<!-- End of Channel banner -->

<hr />
<br />

<div class="row row-cols-1 row-cols-md-6 g-4">

  {{ range $video := .Videos }}
  {{ template "shards/thumb-preview-line.html" $video }}
  {{ end }}

</div>
{{ template "bottom" .}}
{{ end }}
