{{ define "failsafe/config.html" }}
{{ template "top-failsafe" .}}
<h2>Failsafe mode</h2>
<hr />

<div class="alert alert-warning">
  ZobTube started without a correct configuration. If this is the first start, please configure it with the form below.
</div>

<h4 style="margin: 50px 0 25px 0;">New configuration</h4>

<div class="row">
  <div class="col-md-12">
    <form action="/" method="post" id="config">
      <div class="mb-3">
        <label for="bind" class="form-label">Bind address</label>
        <input type="text" class="form-control" name="bind" placeholder="IP:PORT" value="0.0.0.0:8069">
        <div class="form-text">
          The IP and port ZobTube will listen to, formed as <code>IP:PORT</code>.
          If you use ZobTube on your own computer without any sharing needs, setting this value to <code>127.0.0.1:8069</code> will be perfect.
          Otherwise, setting it to <code>0.0.0.0:8069</code> will allow connections from anywhere on port 8069.
        </div>
      </div>
      <div class="mb-3">
        <label for="media-path" class="form-label">Library path</label>
        <input type="text" class="form-control" name="media-path" placeholder="path to your library" value="./library">
        <div class="form-text">
          The path ZobTube will use to setup its library.
        </div>
      </div>
      <div class="mb-3">
        <label for="bind" class="form-label">Database driver</label>
        <select class="form-select" name="db-driver">
          <option value="sqlite" selected>SQLite</option>
          <option value="postgresql">PostgreSQL</option>
        </select>
        <div class="form-text">
          The IP and port ZobTube will listen to, formed as <code>IP:PORT</code>.
          If you use ZobTube on your own computer without any sharing needs, setting this value to <code>127.0.0.1:8069</code> will be perfect.
          Otherwise, setting it to <code>0.0.0.0:8069</code> will allow connections from anywhere on port 8069.
        </div>
      </div>
      <div class="mb-3">
        <label for="bind" class="form-label">Database connection string</label>
        <input type="text" class="form-control" name="db-connstring" value="./zt.db">
        <div class="form-text">
          The connection string used to connect to the database.
          When using SQLite, a simple path to the database is enough, like <code>./zt.db</code>.
          When using PostgreSQL, the connection string represents all parameters to connect, like <code>host=127.0.0.1 user=zt password=topsecret dbname=zobtube port=5432 sslmode=disable</code>
        </div>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <button id="submitButton" type="button" class="btn btn-primary" style="width: 100%; margin-top: 20px;">Create configuration file</button>
        </div>
        <div class="col-4"></div>
      </div>
      {{ if .Error }}
      <div class="alert alert-danger">
        An error occured!
        <code>{{ .Error.Error }}</code>
      </div>
      {{ end }}
    </form>
  </div>
</div>

<script>
// this function check if the healthcheck endpoint is up
// then redirect to the reloaded app
function checkForReload() {
  $.ajax({
    url: '/ping',
    type: 'GET',
    success: function() {
      console.log('reloading');
      window.location.reload();
    }
  });
}

window.onload = function() {
  $('button#submitButton').click( function() {
    $.ajax({
      url: '/',
      type: 'POST',
      data: $('form#config').serialize(),
      success: function() {
        setTimeout(checkForReload(), 500);
      }
    });
  });
}
</script>

{{ template "bottom-failsafe" . }}
{{ end }}
