{% extends "base.html" %}

{% block content %}

{% load static %}
<!-- additional lib, spark-md5, required for the upload -->
<script src="{% static 'js/spark-md5.min.js' %}"></script>

<h2>Select a file to upload</h2>

<p class="lead">
  Click <a href="{% url 'upload_list' %}">here</a> to view file uploaded in the past.
</p>

<div class="row g-2 mb-3" style="margin-top: 2rem !important">
<form action="{% url 'triage_upload' %}" method="post"  enctype="multipart/form-data">
  {% csrf_token %}
  <div class="input-group mb-3">
    <input class="form-control" type="file" name="video" id="id_video" />
  </div>
</form>
</div>

<div class="g-2 mb-3">
  <h4>Progression</h4>
<div class="progress">
  <div id="upload_hash_progress" class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 0%"></div>
</div>
</div>

<div class="row g-2 mb-3">
  <div class="mb-3 form-floating">
    <input type="text" readonly id="upload_hash" class="form-control" name="type" value="Not yet calculated">
    <label>Video hash</label>
  </div>
</div>

<h3>Import</h3>

<div class="row">
  <div class="col-4 d-grid">
    <a
     href="{% url 'upload_import' pk='00000000-0000-0000-0000-000000000000' import_as='v' %}"
     class="btn btn-secondary btn-lg disabled btn-import"
     >Import as video</a>
  </div>
  <div class="col-4 d-grid">
    <a
     href="{% url 'upload_import' pk='00000000-0000-0000-0000-000000000000' import_as='m' %}"
     class="btn btn-secondary btn-lg disabled btn-import"
     >Import as movie</a>
  </div>
  <div class="col-4 d-grid">
    <a
     href="{% url 'upload_import' pk='00000000-0000-0000-0000-000000000000' import_as='c' %}"
     class="btn btn-secondary btn-lg disabled btn-import"
     >Import as clip</a>
  </div>
</div>

<script>
function resetStat() {
  const upload_hash_progress = document.getElementById('upload_hash_progress');
  const upload_hash = document.getElementById('upload_hash');

  upload_hash_progress.style.width = "0%";
  upload_hash.value = '';

  upload_hash_progress.classList.remove('bg-success');
  upload_hash_progress.classList.add('bg-info');
  upload_hash_progress.classList.add('progress-bar-striped');
  upload_hash_progress.classList.add('progress-bar-animated');
}

// initial init
resetStat();
document.getElementById('id_video').value = '';
upload_file_id = null;

document.getElementById('id_video').addEventListener('change', function () {
    const upload_hash_progress = document.getElementById('upload_hash_progress');
    const upload_hash = document.getElementById('upload_hash');

    resetStat();

    var blobSlice = File.prototype.slice || File.prototype.mozSlice || File.prototype.webkitSlice,
        file = this.files[0],
        chunkSize = 1000000,
        chunks = Math.ceil(file.size / chunkSize),
        currentChunk = 0,
        spark = new SparkMD5.ArrayBuffer(),
        fileReader = new FileReader();

    fileReader.onload = function (e) {
        console.log('read chunk nr', currentChunk + 1, 'of', chunks);
        upload_hash_progress.style.width = ""+Math.round((currentChunk+1)*100/(2*chunks))+"%";
        spark.append(e.target.result);                   // Append array buffer
        currentChunk++;

        if (currentChunk < chunks) {
            loadNext();
        } else {
            console.log('finished loading');
            hash_result = spark.end();
            console.info('computed hash', hash_result);  // Compute hash
            upload_hash.value = hash_result;
            initUpload();
        }
    };

    fileReader.onerror = function () {
        console.warn('oops, something went wrong.');
    };

    function loadNext() {
        var start = currentChunk * chunkSize,
            end = ((start + chunkSize) >= file.size) ? file.size : start + chunkSize;

        fileReader.readAsArrayBuffer(blobSlice.call(file, start, end));
    }

    loadNext();

    /* now the upload part */
    function initUpload() {
      console.log('upload starting');

      currentChunk = 0;

      var upload_id = null;
      var upload_url = '{% url 'upload_file' %}';

      fileReader.onload = function (e) {
        console.log('upload read chunk nr', currentChunk + 1, 'of', chunks);
        upload_hash_progress.style.width = ""+Math.round(50+(currentChunk+1)*100/(2*chunks))+"%";

        var up_bg = currentChunk * chunkSize,
            up_en = ((up_bg + chunkSize) >= file.size) ? file.size : up_bg + chunkSize;
            up_en -= 1;

        var formData = new FormData();
        formData.append('csrfmiddlewaretoken', '{% csrf_token %}');
        formData.append('file', new Blob([e.target.result]));
        formData.append('filename', file.name);

        // send the data
        $.ajax(upload_url, {
          method: 'PUT',
          headers: {
            'X-CSRFToken': '{% csrf_token %}',
            'Content-Range': 'bytes '+up_bg+'-'+up_en+'/'+file.size,
          },
          data: formData,
          processData: false,
          contentType: false,
          xhr: function() {
            var xhr = new XMLHttpRequest();
            return xhr;
          },
          success: function(e) {
            if (currentChunk == 0) {
              upload_url = e.url
              upload_file_id = e.id;
            }
            currentChunk++;
            if (currentChunk < chunks) {
              console.log('read chunk nr', currentChunk + 1, 'of', chunks);
              loadNext();
            } else {
              console.info('finished uploading chunks, sending post validation');

              /* finalizing upload */

              $.ajax(upload_url, {
                method: 'POST',
                headers: {
                  'X-CSRFToken': '{% csrf_token %}',
                },
                data: {"md5": upload_hash.value},
                /* processData: false, */
                /* contentType: false, */
                xhr: function() {
                  var xhr = new XMLHttpRequest();
                  return xhr;
                },
                success: function(e) {
                  console.info('upload confirmed and validated');
                  upload_hash_progress.classList.remove('progress-bar-striped');
                  upload_hash_progress.classList.remove('progress-bar-animated');
                  upload_hash_progress.classList.remove('bg-info');
                  upload_hash_progress.classList.add('bg-success');

                  links = document.getElementsByClassName('btn-import');
                  for (var i = 0; i < links.length; i++) {
                    links[i].href = links[i].href.replace(
                      '00000000-0000-0000-0000-000000000000',
                      upload_file_id
                    );
                    links[i].classList.remove('disabled');
                    links[i].classList.remove('btn-secondary');
                    links[i].classList.add('btn-primary');
                  }
                },
                error: function() {
                  console.warn('failed upload');
                }
              });

              /* end of finalizing upload */

            }
          },
          error: function() {
            console.warn('failed upload');
          }
        });
      }

      loadNext();
    }
});

</script>
<!-- End Page Import Area -->
{% endblock %}
