{{ define "upload/triage.html" }}
{{ template "top" .}}

<style>
.br-link {
  color: #0d6efd;
  text-decoration: underline;
  cursor: pointer;
}
</style>

<nav id="path" style="font-size:large">
</nav>

<h4>Folders</h4>
<hr />

<div class="row row-cols=1 row-cols-md-6 g-4" id="folders">
</div>

<h4 style="margin-top: 45px">Files</h4>
<div class="row row-cols=1 row-cols-md-6 g-4" id="files">
</div>
<hr />


<!--
<table class="table">
  <thead>
    <tr>
      <th colspan="2" scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    {{ range $folder, $items := .Items }}
    <tr class="table-active" data-toggle="toggle" onClick="toggleTr(this)">
      <td><span class="plusminus" style="font-weight: bold">+</span> {{ $folder }} <span class="badge bg-secondary">{{ len $items }}</span></td>
      <td style="text-align: right">
      </td>
    </tr>
    {{ range $item := $items }}
    <tr style="display: none">
      <td>{{ $item.Name }}</td>
      <td style="text-align: right">
        <button type="button" class="btn btn-primary btn-sm"  data-bs-toggle="modal" data-bs-target="#previewModal" data-bs-video="{{ $folder }}/{{ $item.Name }}"><i class="bi bi-eye"></i></button>
      </td>
    </tr>
    {{ end }}
    {{ end }}
  </tbody>
</table>
<!-- End Page Import Area -->

<!-- Preview Model Area -->
<div class="modal fade" id="previewModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Triage video preview</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="ratio ratio-16x9">
          <video id="previewVideo" class="previewVideo" autoplay controls>
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn-toolbar justify-content-between mb-2" role="toolbar" style="width:100%">
          <div class="input-group me-2">
            <a type="button" class="btn btn-danger previewDelete">Delete</a>
          </div>
          <div class="input-group">
            <div class="input-group-text">Import as</div>
            <a type="button" class="btn btn-primary previewImportAsVideo">Video</a>
            <a type="button" class="btn btn-primary previewImportAsClip">Clip</a>
            <a type="button" class="btn btn-primary previewImportAsMovie">Movie</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Preview Model Area -->

<!-- Preview specific JS -->
<script>
const previewModal = document.getElementById('previewModal')
previewModal.addEventListener('show.bs.modal', event => {
  // Button that triggered the modal
  const button = event.relatedTarget
  // Extract info from data-bs-* attributes
  const videoName = button.getAttribute('data-bs-video')
  // Update the modal's content.
  const videoItem = previewModal.querySelector('.previewVideo')

  videoItem.src = "/upload/preview/"+encodeURIComponent(videoName)

  const importAsVideoButton = previewModal.querySelector('.previewImportAsVideo')
  importAsVideoButton.onclick = function() { importAs('v', videoName); }

  const importAsClipButton = previewModal.querySelector('.previewImportAsClip')
  importAsClipButton.onclick = function() { importAs('c', videoName); }

  const importAsMovieButton = previewModal.querySelector('.previewImportAsMovie')
  importAsMovieButton.onclick = function() { importAs('m', videoName); }

  const previewDeleteButton = previewModal.querySelector('.previewDelete')
  previewDeleteButton.href = '/triage/delete/'+videoName
})
previewModal.addEventListener('hide.bs.modal', event => {
  const videoItem = previewModal.querySelector('.previewVideo')

  videoItem.pause()
})

function importAs(video_type, video_path) {
  var form = document.createElement("form");
  var form_el_path = document.createElement("input");
  var form_el_import_as = document.createElement("input");
  var form_el_csrf = document.createElement("input");

  form.method = "POST";
  form.action = "/upload/import";

  form_el_csrf.value = '{% csrf_token %}';
  form_el_csrf.name = 'csrfmiddlewaretoken';
  form.appendChild(form_el_csrf);

  form_el_path.value=video_path;
  form_el_path.name="path";
  form.appendChild(form_el_path);

  form_el_import_as.value=video_type;
  form_el_import_as.name="import_as";
  form.appendChild(form_el_import_as);

  document.body.appendChild(form);

  console.log(form);

  form.submit();
}

</script>

<!-- Toggle JS -->
<script>
function toggleTr(callingTr) {
  hidden = (callingTr.children[0].children[0].textContent == '+');

  if (hidden) {
    callingTr.children[0].children[0].textContent = '-';
    child = callingTr.nextElementSibling;
    while (!child.hasAttribute("data-toggle")) {
      $(child).slideDown(600);
      child = child.nextElementSibling;
    }
  } else {
    callingTr.children[0].children[0].textContent = '+';
    child = callingTr.nextElementSibling;
    while (!child.hasAttribute("data-toggle")) {
      $(child).slideUp(200);
      child = child.nextElementSibling;
    }
  }
}

var CURRENT_PATH='/';
function setFolder(folderName) {
  CURRENT_PATH=folderName;
  updatePath();
}

function enterFolder(folderName) {
  if (CURRENT_PATH == '/') {
    CURRENT_PATH += folderName;
  } else {
    CURRENT_PATH += '/';
    CURRENT_PATH += folderName;
  }
  updatePath();
}

function updatePath() {
  console.log('switching to: '+CURRENT_PATH);

  generateBreadcrumb();
  loadFolders();
  loadFiles();
}

function generateBreadcrumb() {
  var path = CURRENT_PATH;
  pathAsArray = path.split('/');
  max = pathAsArray.length;
  progressivePath = '';

  newBr  = '<ol class="breadcrumb">';
  newBr += '<li class="breadcrumb-item';
  if (path == '/') {
    newBr += ' active">';
  } else {
    newBr += ' br-link" onclick="setFolder(\'/\')">';
  }
  newBr += 'Home</li>';
  for (var i=0; i < max; i++) {
    folder = pathAsArray[i];
    if (folder == "") {
      continue;
    } else {
      progressivePath += '/'+folder;
    }

    newBr += '<li class="breadcrumb-item';
    if (i+1 == max) {
      newBr += ' active">';
    } else {
      newBr += ' br-link" onClick="setFolder(\''+progressivePath+'\')">';
    }
    newBr += folder+'</li>';
  }

  newBr += '</ol>';

  document.getElementById('path').innerHTML = newBr;
}

function loadFolders() {
  $.ajax('/api/upload/triage/folder', {
    method: 'POST',
    data: {
      'path': CURRENT_PATH,
    },
    xhr: function () {
      var xhr = new XMLHttpRequest();
      return xhr;
    },

    success: function (data) {
      console.log(data);
      showFolders(data.folders);
    },

    error: function (data) {
      sendToast(
        'Unable to show folders',
        '',
        'bg-warning',
        data.responseJSON.error,
      );
    },
  });
}

function loadFiles() {
  $.ajax('/api/upload/triage/file', {
    method: 'POST',
    data: {
      'path': CURRENT_PATH,
    },
    xhr: function () {
      var xhr = new XMLHttpRequest();
      return xhr;
    },

    success: function (data) {
      console.log(data);
      showFiles(data.files);
    },

    error: function (data) {
      sendToast(
        'Unable to show files',
        '',
        'bg-warning',
        data.responseJSON.error,
      );
    },
  });
}

function showFolders(folders) {
  folderHTML = '';
  Object.keys(folders).forEach(function(folder) {
    elements = folders[folder];
    folderHTML += '<div class="col">';
    folderHTML += '<div class="card border-dark col" style="cursor: pointer" ';
    folderHTML += 'onclick="enterFolder(\''+folder+'\');">';
    folderHTML += '<div class="card-body">';
    folderHTML += '<i class="fas fa-folder"></i>&nbsp;&nbsp;';
    folderHTML += folder;
    folderHTML += '<span class="badge bg-secondary">'+elements+'</span></div>';
    folderHTML += '</div>';
    folderHTML += '</div>';
  });

  document.getElementById('folders').innerHTML = folderHTML;
}

function showFiles(files) {
  folderHTML = '';
  Object.keys(files).forEach(function(file) {
    // store file infos
    fileInfo = files[file];

    // guess filetype based on the extension
    fileType = 'unknown';
    if (file.match(/.*\.mp4/)) {
      fileType = 'video';
    } else if (file.match(/.*\.(png|jpg|jpeg)/)) {
      fileType = 'image';
    }

    // render files
    folderHTML += '<div class="col">';
    folderHTML += '  <div class="card border-dark col" style="cursor: pointer" ';
    folderHTML += '  onclick="">';
    if (fileType == 'video') {
      folderHTML += '    <video style="height:130px" controls src="/upload/preview/'+encodeURIComponent(CURRENT_PATH+'/'+file)+'" class="card-img-top"></video>';
    } else if (fileType == 'image') {
      folderHTML += '    <img style="height:130px" src="/upload/preview/'+encodeURIComponent(CURRENT_PATH+'/'+file)+'" class="card-img-top">';
    } else {
      folderHTML += '<svg class="bd-placeholder-img card-img-top" width="100%" height="130" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">File</text></svg>';
    }
    folderHTML += '    <div class="card-body">';
    folderHTML += '      <i class="fas ';
    if (fileType == 'video') {
    folderHTML += '        fa-file-video';
    } else if (fileType == 'image') {
    folderHTML += '        fa-file-image';
    } else {
    folderHTML += '        fa-file';
    }
    folderHTML += '        "></i>&nbsp;&nbsp;';
    folderHTML +=        file;
    folderHTML += '    </div>';
    folderHTML += '  </div>';
    folderHTML += '</div>';
  });

  document.getElementById('files').innerHTML = folderHTML;
}
window.onload = function() {
  generateBreadcrumb();
  setFolder(CURRENT_PATH);
}
</script>
<!-- End of toggle JS -->

<!-- Footer Area -->
<footer>
    <div class="scroll-top">
        <div class="scroll-icon">
            <i class="fa fa-angle-up"></i>
        </div>
    </div>
</footer>
<!-- End Footer Area -->

{{ template "bottom" .}}
{{ end }}
