{{ define "video/edit.html" }}
{{ template "top" .}}
<h2>Video editing</h2>
<a href="{{ .Video.URLView }}">← Back to video viewer</a>
<br />

<div class="row">
  <div class="col-md-9">
    <video
      id="video"
      style="width: 100%; height: 35vw"
      src="{{ .Video.URLStream }}"
      controls
      ></video>
  </div>
  <div class="col-md-3">
    <h5>Import status</h5>
    <p>
      <span id="video-import" class="badge
      {{ if .Video.Imported }}
      bg-success
      {{ else }}
      bg-warning
      {{ end }}
      ">{{ if .Video.Imported }}Imported{{ else }}In triage{{ end }}</span>
    </p>
    <h5>Duration</h5>
    <p>
      <small class="text-muted" id="video-duration">
      {{ if .Video.Duration }}
      {{ .Video.NiceDuration }}
      {{ else }}
      Unknown
      {{ end }}
      </small>
    </p>
    <h5>Thumbnail</h5>
    <p>
      <span id="video-thumb" class="badge
      {{ if .Video.Thumbnail }}
      bg-success
      {{ else }}
      bg-warning
      {{ end }}
      ">
      {{ if .Video.Thumbnail }}
      Generated
      {{ else }}
      Missing
      {{ end }}
      </span>
    </p>
    <h5>Thumbnail mini</h5>
    <p>
      <span id="video-thumb-mini" class="badge
      {{ if .Video.ThumbnailMini }}
      bg-success
      {{ else }}
      bg-warning
      {{ end }}
      ">
      {{ if .Video.ThumbnailMini }}
      Generated
      {{ else }}
      Missing
      {{ end }}
      </span>
    </p>
    <hr />
    <h5>Actions</h5>
    <p>
      <button class="btn btn-primary btn-sm w-100" onClick="generateThumbnail('{{ .Video.ID }}')">New thumbnail from current timecode</button>
    </p>
    <p>
      <button class="btn btn-primary btn-sm w-100" {{ if eq .Video.Type "c" }}disabled{{ end }} onClick="changeTo('c', '{{ .Video.ID }}')">Change to Clip</button>
    </p>
    <p>
      <button class="btn btn-primary btn-sm w-100" {{ if eq .Video.Type "m" }}disabled{{ end }} onClick="changeTo('m', '{{ .Video.ID }}')">Change to Movie</button>
    </p>
    <p>
      <button class="btn btn-primary btn-sm w-100" {{ if eq .Video.Type "v" }}disabled{{ end }} onClick="changeTo('v', '{{ .Video.ID }}')">Change to Video</button>
    </p>
    <p>
      <button class="btn btn-danger btn-sm w-100" onClick="deleteVideo('{{ .Video.ID }}')">Delete</button>
    </p>

  </div>

  <div class="col-12 mb-3 mt-3">
    <h4>Video details</h4>
  </div>

  <!-- form: name -->
  <div class="col-12 mb-3">
    <div class="form-floating input-group">
      <input type="text" class="form-control" disabled id="video-title" value="{{ .Video.Name }}">
      <label for="name">Name</label>
      <button class="btn btn-outline-warning" type="button" id="video-title-edit" onClick="video_title_edit()">Edit</button>
    </div>
  </div>

  <!-- form: ID -->
  <div class="col-6 mb-3">
    <div class="form-floating">
      <input type="text" disabled class="form-control" id="video-id" value="{{ .Video.ID }}">
      <label for="originalFilename">ID</label>
    </div>
  </div>

  <!-- form: original filename -->
  <div class="col-6 mb-3">
    <div class="form-floating">
      <input type="text" disabled class="form-control" name="filename" value="{{ .Video.Filename }}">
      <label for="originalFilename">Original filename</label>
    </div>
  </div>

  <!-- form: import date -->
  <div class="col-6 mb-3">
    <div class="form-floating">
      <input type="text" disabled class="form-control" name="importDate" value="{{ .Video.CreatedAt.Format "2006-01-02 15:04:05" }}">
      <label for="originalFilename">Import date</label>
    </div>
  </div>

  <!-- form: video type -->
  <div class="col-6">
    <div class="mb-3 form-floating">
      <input type="text" disabled class="form-control" name="type" value="{{ .Video.TypeAsString }}">
      <label for="originalFilename">Video Type</label>
    </div>
  </div>

  <!-- form: channel -->
  <div class="col-12">
    <div class="mb-3 form-floating input-group">
      <input type="text" disabled class="form-control" name="channel" id="video-channel" value="{{ if .Video.ChannelID }}{{ .Video.Channel.Name }}{{ else }}None{{ end }}">
      <label for="channel">Channel</label>
      <button class="btn btn-outline-warning" type="button" id="video-channel-edit" onClick="video_channel_edit()">Change</button>
    </div>
  </div>

  <!-- form: actors -->
  <div class="col-12 mb-3">
    {{ template "shards/actor-selection/list.html" . }}
  </div>

  <!-- form: categories -->
  <div class="col-12 mb-3">
    {{ template "shards/category-selection/list.html" . }}
  </div>

</div>

<!-- Channel Edit Modal -->
<div class="modal fade" id="editChannelModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form action="" method="">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change video channel</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="form-floating" style="margin-bottom: 20px;">
          <select class="form-select" name="channel-list" id="channel-list">
          </select>
          <label for="channel-list">Channel list</label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" onclick="video_channel_send();">Change</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- End Channel Edit Modal -->

<!-- Preview Add Actor Modal -->
{{ template "shards/actor-selection/edit-modal.html" . }}
<!-- End Add Actor Modal -->

<!-- Add category modal -->
{{ template "shards/category-selection/edit-modal.html" . }}
<!-- End of add category modal -->

<script>
{{ template "video/edit.js" . }}
</script>
{{ template "bottom" .}}
{{ end }}
