{{ define "video/view.html" }}
{{ template "top" .}}
<div class="row">
  <div class="col-lg-12 col-md-12">
    <!-- Start Video Post -->
    <div class="video-post-wrapper">
      <div><!-- title div -->
        <h3 id="page_view_video_title" class="post-title mt-3 d-inline-block">{{ .Video }}</h3>
        <span class="badge text-bg-secondary" style="height: fit-content; vertical-align: super; font-size: 0.85rem; margin-left: 8px;">{{ .Video.NiceDurationShort }}</span>
      </div>
      <div>
        <!-- channel -->
        {{ if .Video.Channel }}
        <a class="btn btn-sm btn-dark" href="{{ .Video.Channel.URLView }}">
          <i class="fas fa-tv"></i>
          {{ .Video.Channel.Name }}
        </a>
        {{ end }}
        <!-- actors -->
        {{ range $actor := .Video.Actors }}
        <a class="btn btn-sm btn-danger" href="{{ $actor.URLView }}">
          <span class="badge text-bg-light">
            {{ if eq $actor.Sex "f" }}
            <i class="fa fa-venus"></i>
            {{ else if eq $actor.Sex "m" }}
            <i class="fa fa-mars"></i>
            {{ else if eq $actor.Sex "tw" }}
            <i class="fa fa-mars-and-venus"></i>
            {{ else }}
            <i class="fa fa-person-circle-question"></i>
            {{ end }}
          </span>
          {{ $actor.Name }}
        </a>
        {{ end }}
        <!-- categories -->
        {{ range $category_id, $category_name := .Categories }}
        <a class="btn btn-sm btn-secondary" href="/category/{{ $category_id }}">{{ $category_name }}</a>
        {{ end }}
      </div>
      <div class="video-posts-video">
        <hr />
        <div class="embed-responsive embed-responsive-16by9 ratio ratio-16x9">
          <video
            style="width: 100%"
            src="{{ .Video.URLStream }}"
            preload="metadata"
            poster="{{ .Video.URLThumb }}"
            controls
            onplay="countView()"
            ></video>
        </div>
      </div>
      <div class="video-posts-data">
        <!-- left side -->
        <div class="video-post-title">
          <div class="video-post-info">
            <h5 id="video-view-count">
              <i class="far fa-eye text-secondary"></i>
              <span>
              {{ if .ViewCount }}
              {{ if gt .ViewCount 1 }}
              {{ .ViewCount }} views
              {{ else }}
              {{ .ViewCount }} view
              {{ end }}
              {{ else }}
              Not viewed yet!
              {{ end }}
              <span>
            </h5>
          </div>
        </div>
        <!-- right side -->
        <div class="video-post-counter">
          <a download="{{ .Video.ID}}.mp4" href="{{ .Video.URLStream }}" class="btn btn-sm btn-outline-dark"><i class="fas fa-download text-secondary"></i> Download</a>
          {{ if .User.Admin }}
          <a class="btn btn-sm btn-outline-dark" href="{{ .Video.URLAdmEdit }}"><i class="fa fa-edit text-secondary"></i> Edit</a>
          {{ end }}

        </div>
      </div>
    </div>
    <!-- End Video Post -->
  </div>
  <!-- Start Popular Videos -->
  <div class="popular-videos">
    <div class="themeix-section-h">
      <span class="heading-icon"><i class="fa fa-play" aria-hidden="true"></i></span>
      <h3>More Random Videos</h3>
    </div>
    <div class="row">
      {{ range $video := .RandomVideos.Videos }}
      {{ template "shards/video-mini-tile.html" $video }}
      {{ end }}
    </div>
  </div>
  <!-- End Recent Videos -->
  </div>
</div>

<script>
{{ template "video/view.js" . }}
</script>
{{ template "bottom" .}}
{{ end }}
