{{ define "video/view.html" }}
{{ template "top" .}}
<div class="row">
  <div class="col-lg-12 col-md-12">
    <!-- Start Video Post -->
    <div class="video-post-wrapper">
      <div class="video-posts-video">
        <div class="embed-responsive embed-responsive-16by9 ratio ratio-16x9">
          <video
            style="width: 100%"
            src="{{ .Video.URLStream }}"
            preload="metadata"
            poster="{{ .Video.URLThumb }}"
            controls
            onplay="countView()"
            ></video>
        </div>
        <h3 id="page_view_video_title" class="post-title mt-3">{{ .Video }}
        {{ if .User.Admin }}
        <a href="{{ .Video.URLAdmEdit }}"> <i class="fa fa-edit"></i></a>
        {{ end }}
        </h3>
      </div>
      <div class="video-posts-data">
        <div class="video-post-title">
          {{ if .Video.Channel }}
          <span class="video-icons">
            <img src="{{ .Video.Channel.URLView }}" />
          </span>
          {{ else }}
          <span class="video-icons" style="background-color:#f44336;"><i class="fa fa-info-circle"></i></span>
          {{ end }}
          <div class="video-post-info">
            {{ if .Video.Channel }}
            <h4><a id="page_view_video_channel" href="{{ .Video.Channel.URLView }}">{{ .Video.Channel.Name }}</a></h4>
            {{ else }}
            <h4><a id="page_view_video_channel" href="#">Unknown channel</a></h4>
            {{ end }}
            <div class="video-post-date">
              <span><i class="fa fa-calendar"></i></span>
              <p>{{ .Video.CreatedAt.Format "2006 Jan 01" }}</p>
              {{ range $actor := .Video.Actors }}
              <span class="video-posts-author">
                {{ if eq $actor.Sex "f" }}
                <i class="fa fa-venus"></i>
                {{ else if eq $actor.Sex "m" }}
                <i class="fa fa-mars"></i>
                {{ else if eq $actor.Sex "s" }}
                <i class="fa fa-mars-and-venus"></i>
                {{ else }}
                <i class="fa fa-person-circle-question"></i>
                {{ end }}
                <a href="{{ $actor.URLView }}">{{ $actor.Name }}</a>
              </span>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="video-post-counter">
          <div class="video-post-viewers" id="video-view-count">
            {{ if .ViewCount }}
            {{ if gt .ViewCount 1 }}
            <h3>{{ .ViewCount }} views</h3>
            {{ else }}
            <h3>{{ .ViewCount }} view</h3>
            {{ end }}
            {{ else }}
            <h3>Not viewed yet!</h3>
            {{ end }}
          </div>
          <div class="video-like">
            <span><i class="far fa-thumbs-up"></i></span>
            <p>421825</p>
          </div>
          <div class="video-dislike">
            <span><i class="far fa-thumbs-down"></i></span>
            <p>9694</p>
          </div>
        </div>
      </div>
      <!-- Start Tags And Share Options -->
      <div class="tags-and-share">
        <div class="post-tags widget">
          <ul class="tagcloud">
            {{ if .Tags }}
            {{ range $tag := .Tags }}
            <li><a href="#">{{ $tag }}</a></li>
            {{ end }}
            {{ else }}
            <li><a href="#">No tags</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
      <!-- End Tags And Share Options -->
    </div>
    <!-- End Video Post -->
  </div>
  <!-- Start Popular Videos -->
  <div class="popular-videos">
    <div class="themeix-section-h">
      <span class="heading-icon"><i class="fa fa-play" aria-hidden="true"></i></span>
      <h3>More Random Videos</h3>
    </div>
    <div class="row">
      {{ range $video := .RandomVideos.Videos }}
      {{ template "shards/video-mini-tile.html" $video }}
      {{ end }}
    </div>
  </div>
  <!-- End Recent Videos -->
  </div>
</div>

<script>
viewCounted = false;
function countView() {
  if (viewCounted) {
    return
  }
  $.ajax('/api/video/{{ .Video.ID }}/count-view', {
    method: 'POST',
    xhr: function () {
      var xhr = new XMLHttpRequest();
      return xhr;
    },
    success: function(data) {
      $('#video-view-count').animate({'opacity': 0}, 400, function(){
        viewCount = data['view-count'];
        newViewCount = '<h3>'+viewCount+' view';
        newViewCount += viewCount > 1 ? 's' : '';
        newViewCount += '</h3>';
        $(this).html(newViewCount).animate({'opacity': 1}, 400);
      });
      viewCounted = true;
    },
  });
}
</script>
{{ template "bottom" .}}
{{ end }}
