---

name: playwright tests
on:
  pull_request:

jobs:
  test-ui:
    timeout-minutes: 60
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
          cache: false
      - name: Run GoReleaser build
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: '~> v2'
          args: build --snapshot --single-target -o /tmp/zt
      - name: Install dependencies
        run: |
          python3 -m venv .venv
          source .venv/bin/activate
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Ensure browsers are installed
        run: |
          source .venv/bin/activate
          python -m playwright install --with-deps
      - name: Run your tests
        run: |
          source .venv/bin/activate
          ./tools/e2e-run.sh
      - uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-traces
          path: e2e-result.xml
